<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellofarmer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Oil"></activity>
        <activity android:name=".Seed" />
        <activity android:name=".Spice" />
        <activity android:name=".Fertilizer" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HelpCenter"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".Profile"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".Cart"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".UpdateData"
            android:theme="@style/WhiteTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".Wishlist"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".OrderDetails"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".OrderPlaced"
            android:theme="@style/WhiteTheme" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".MyGranaryActivity" />
        <activity android:name=".addNewProductActivity" />
        <activity android:name=".AddBtnActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ToDoActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MainActivity" />
    </application>

</manifest>